src
container/*/*.sh
!container/system/traefik.sh
!container/system/database.sh
!container/default/phpmyadmin.sh
!container/default/portainer.sh
config/networks
persistentdata
!persistentdata/.gitadd
