src
images
!images/.gitadd
init/config/networks
init/config/custom_vars.sh
init/container/*/*.sh
!init/container/atlassian/*
!init/container/default/anything.sh
!init/container/default/phpmyadmin.sh
!init/container/default/portainer.sh
!init/container/it-e/*
!init/container/system/database.sh
!init/container/system/dns.sh
!init/container/system/mailtrap.sh
!init/container/system/traefik.sh
persistentdata
!persistentdata/.gitadd
old.*
.DS_Store
